.projects{
    grid-template-areas: /*greift auf die unten definierten areas zu*/
        "hl1 hl1 hl1"
        "premake mf bms"
        "das dg ."
        "hl2 hl2 hl2"
        "insta kkg ."
        "hl3 hl3 hl3"
        "blender insights typo"
        "ps2 . ."
        "hl4 hl4 hl4"
        "game2 bhs ."
        "hl5 hl5 hl5"
        "reel kc .";
}

#hl1{
    grid-area: hl1;
}
#hl2{
    grid-area: hl2;
}
#hl3{
    grid-area: hl3;
}
#hl4{
    grid-area: hl4;
}
#hl5{
    grid-area: hl5;
}
#hl1, #hl2, #hl3, #hl4, #hl5 {
    margin-top: 2rem;
}

#premake{
    grid-area: premake;
}

#mf{
    grid-area: mf;
}

#bms{
    grid-area: bms;
}

#das{
    grid-area: das;
}

#dg{
    grid-area: dg;
}

#insta{
    grid-area: insta;
}

#kkg{
    grid-area: kkg;
}

#blender{
    grid-area: blender;
}

#insights{
    grid-area: insights;
}

#typo{
    grid-area: typo;
}

#ps2{
    grid-area: ps2;
}

#game2{
    grid-area: game2;
}

#bhs{
    grid-area: bhs;
}

#reel{
    grid-area: reel;
}

#kc{
    grid-area: kc;
}

.tile{
   position: relative;
}

.tile img{
    border-radius: 10px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #df005e;
    border-radius: 10px;
}

.tile:hover .overlay {
	opacity: 0.95;
}

.overlaytext {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
    width: 100%;
}

.overlaytext h2{
    font-size: 1.8vw;
    line-height: 2vw;
}

.overlay p{
    font-size: 1.4vw;
    line-height: 2vw;
}

.overlaytext i{
    font-size: 2vw;
    line-height: 0vw
}

.message{
    display: none;
}


/*ABOUT ME*/
.about{
    grid-template-areas: /*greift auf die unten definierten areas zu*/
        "image abouttext abouttext"
        "contact skills experience"
        "knowledge1 knowledge2 knowledge3";
}

.about > * {
    margin-top: 2rem;
}

#image{
    grid-area: image;
    object-fit: cover;
    position: relative;
}

#image img{
    border-radius: 10px;   
}

.img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
#image:hover .img-top {
    display: inline;
}

#abouttext{
    grid-area: abouttext;
}

#contact{
    grid-area: contact;
    display: flex;
    flex-direction: column;
}

#skills{
    grid-area: skills;
}

#experience{
    grid-area: experience;
}

#knowledge1{
    grid-area: knowledge1;
}

#knowledge2{
    grid-area: knowledge2;
}

#knowledge3{
    grid-area: knowledge3;
}


@media only screen and (max-width: 550px){
    .projects{
        grid-template-areas: /*greift auf die unten definierten areas zu*/
        "hl1 hl1"
        "premake premake"
        "mf mf"
        "bms bms"
        "das das"
        "dg dg"
        "hl2 hl2"
        "insta insta"
        "kkg kkg"
        "hl3 hl3"
        "blender blender"
        "insights insights"
        "typo typo"
        "ps2 ps2"
        "hl4 hl4"
        "game2 game2"
        "bhs bhs"
        "hl5 hl5"
        "reel reel"
        "kc kc";
    }
    .overlaytext h2{
        font-size: 8vw;
        line-height: 10vw;
    }
    
    .overlay p{
        font-size: 6vw;
        line-height: 10vw;
    }
    
    .overlaytext i{
        font-size: 8vw;
        line-height: 0vw
    }

    .message{
        display: block;
        color: #df005e;
        background-color: black;
        padding-bottom: 1rem;
        text-align: center;
    }

    .about{
        grid-template-areas: /*greift auf die unten definierten areas zu*/
            "image image"
            "abouttext abouttext"
            "contact contact" 
            "skills experience"
            "knowledge1 knowledge1" 
            "knowledge2 knowledge2"
            "knowledge3 knowledge3";
    }
}