.projects{
    grid-template-areas: /*greift auf die unten definierten areas zu*/
        "hl1 hl1 hl1"
        "sap vlc pone"
        "mf . ."
        "hl2 hl2 hl2"
        "worning kcw k28"
        "ff insights bhs";
}

#hl1{
    grid-area: hl1;
}
#hl2{
    grid-area: hl2;
}
#hl3{
    grid-area: hl3;
}
#hl4{
    grid-area: hl4;
}
#hl5{
    grid-area: hl5;
}
#hl1, #hl2, #hl3, #hl4, #hl5 {
    margin-top: 2rem;
}

#sect1{
    grid-area: sect1;
}

#worning{
    grid-area: worning;
}

#sap{
    grid-area: sap;
}

#vlc{
    grid-area: vlc;
}

#kcw{
    grid-area: kcw;
}

#pone{
    grid-area: pone;
}

#premake{
    grid-area: premake;
}

#mf{
    grid-area: mf;
}

#blender{
    grid-area: blender;
}

#insights{
    grid-area: insights;
}

#k28{
    grid-area: k28;
}

#ff{
    grid-area: ff;
}

#bhs{
    grid-area: bhs;
}

#reel{
    grid-area: reel;
}

#kc{
    grid-area: kc;
}

.tile{
   position: relative;
}

.tile img{
    border-radius: 10px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: var(--main);
    border-radius: 10px;
}

.tile:hover .overlay {
	opacity: 0.95;
}

.overlaytext {
	color: var(--white); /* ändert die Textfarbe vom Hover */
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
    width: 100%;
}

.overlaytext h2{
    font-size: 1.8vw;
    line-height: 2vw;
}

.overlay p{
    font-size: 1.4vw;
    line-height: 2vw;
}

.overlaytext i{
    font-size: 2vw;
    line-height: 0vw
}

.message{
    display: none;
}


/*ABOUT ME*/
.about{
    grid-template-areas: /*greift auf die unten definierten areas zu*/
        "image abouttext abouttext"
        "contact skills experience"
        "knowledge1 knowledge2 knowledge3";
}

.about > * {
    margin-top: 2rem;
}

#image{
    grid-area: image;
    object-fit: cover;
    position: relative;
}

#image img{
    border-radius: 10px;
    background-color: var(--main);
}

.img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
}
#image:hover .img-top {
    display: inline;
}

#abouttext{
    grid-area: abouttext;
}

#contact{
    grid-area: contact;
    display: flex;
    flex-direction: column;
}

#skills{
    grid-area: skills;
}

#experience{
    grid-area: experience;
}

#knowledge1{
    grid-area: knowledge1;
}

#knowledge2{
    grid-area: knowledge2;
}

#knowledge3{
    grid-area: knowledge3;
}


.imprint{
    grid-template-areas:
        "hl1 hl1 hl1"
        "sect1 sect1 .";
}


@media only screen and (max-width: 550px){
    .projects{
        grid-template-areas: /*greift auf die unten definierten areas zu*/
        "hl1 hl1"
        "worning worning"
        "sap sap"
        "vlc vlc"
        "kcw kcw"
        "pone pone"
        "mf mf"
        "bms bms"
        "hl2 hl2"
        "k28 k28"
        "blender blender"
        "ff ff"
        "insights insights"
        "hl3 hl3"
        "premake premake"
        "bhs bhs"
        "hl4 hl4"
        "reel reel"
        "kc kc";
    }
    .overlaytext h2{
        font-size: 8vw;
        line-height: 10vw;
    }
    
    .overlay p{
        font-size: 6vw;
        line-height: 10vw;
    }
    
    .overlaytext i{
        font-size: 8vw;
        line-height: 0vw
    }

    .message{
        display: block;
        color: var(--main);
        background-color: var(--black);
        padding-bottom: 1rem;
        text-align: center;
    }

    .about{
        grid-template-areas: /*greift auf die unten definierten areas zu*/
            "image image"
            "abouttext abouttext"
            "contact contact" 
            "skills experience"
            "knowledge1 knowledge1" 
            "knowledge2 knowledge2"
            "knowledge3 knowledge3";
    }

    .imprint{
        grid-template-areas:
            "hl1 hl1"
            "sect1 sect1";
    }
}