@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*FONTS*/
html{
    font-size: 16px;
    hyphens: none;
}

h1{
    font-family: 'Righteous', system-ui, cursive;
    font-size: 2.5rem;
	line-height: 2.875rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h2{
    font-family: 'Righteous', system-ui, cursive;
    font-size: 1.5rem;
	line-height: 1.875rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#copytext, p, a, button, ul, ol{
    font-family: 'Kanit', system-ui, sans-serif;
    font-size: 1rem;
	line-height: 1.375rem;
    font-weight: 300;
    list-style: none;
    margin-bottom: 1rem;
}

#bold{
    font-family: 'Kanit', system-ui, sans-serif;
    font-size: 1rem;
	line-height: 1.375rem;
    font-weight: 700;
    text-decoration: none;
}

#footerfont{
    font-family: 'Kanit', system-ui, sans-serif;
    font-size: 1rem;
	line-height: 1.375rem;
    font-weight: 300;
    margin-top: 1rem;
    color: white;
}

/*COLORS*/
:root{
    --main: #df005e;
    --pink: #df005e;
    --bluelight: #2B4DFF;
    --black: #111111;
    --white: #f0f0f0;
    --green: #66E38D;
    --grey: #595959;
    --red: #d22637;
}


#main{
    background-color: var(--black);
}
#main h1, .about h2, #main ol li:before{ /*Wenn ich dann id=main in den Body schreibe, wird es auf alles übernommen*/
    color: var(--main);
}
#main .grid{
    color: var(--white);
}
#main #bold{
    color: var(--white);
}

#main .grid #bold{
    color: var(--main);
}

#main #bold:hover{
    color: var(--main);
}

.work{
    background-color: var(--white); 
}
.work .grid{
    color: var(--black);
}
#pink .button:hover, #grey .button:hover, #bluelight .button:hover, #red .button:hover{
    background-color: var(--black);
    color: var(--white);
}

#pink h1, #pink .grid h2, #pink #bold, #pink ol li:before{
    color: var(--pink);
}
#pink .button{
    background-color: var(--pink);
    border: var(--pink);
}

#green h1, #green .grid h2, #green #bold{
    color: var(--green);
}

#grey h1, #grey .grid h2, #grey #bold{
    color: var(--grey);
}
#grey .button{
    background-color: var(--grey);
    border: var(--grey);
}

#bluelight h1, #bluelight .grid h2, #bluelight #bold{
    color: var(--bluelight);
}
#bluelight .button{
    background-color: var(--bluelight);
    border: var(--bluelight);
}

#red h1, #red .grid h2, #red #bold{
    color: var(--red);
}
#red .button{
    background-color: var(--red);
    border: var(--red);
}


/*GRID*/
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    height: 100%;
    max-width: 1280px;
    width: auto;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 4rem;
}

header{
    background: var(--black);
    color: var(--white);
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 99;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
}

.header-content{
    display: flex;
    justify-content: space-between;
    max-width: 1280px; /*fixen*/
    width: auto;
    margin: 0 auto;
}

footer{
    background: var(--black);
    color: var(--white);
    padding-left: 2rem; /*hier rumspielen*/
    padding-right: 2rem;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    max-width: 1280px;
    width: auto;
    margin: 0 auto;
}

/*HEADER*/

.headertop{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.headertop h2{
    margin-bottom: 0;
    margin-right: 1rem;
}

.headerbottom{
    display: flex;
}

.headerbottom a {
    float: left;
    color: var(--white);
    text-align: center;
    padding: 0.375rem 2rem;
    text-decoration: none;
    border: 0.125rem solid var(--white);
    border-radius: 20px;
    margin-right: 1rem;
}

.headerbottom a:hover {
    background-color: var(--main);
    color: var(--black);
    border-color: var(--main);
    position: relative;
}
  
.headerbottom a.active {
    background-color: var(--main);
    color: var(--black);
    border-color: var(--main);
    font-weight: 700;
}
  
.headerbottom-right {
    float: right;
}

/*BUTTON*/
.button {
    float: left;
    color: var(--white);
    background-color: var(--main);
    text-align: center;
    padding: 0.375rem 2rem;
    text-decoration: none;
    border: 0.125rem solid var(--main);
    border-radius: 10px;
}

.button:hover {
    background-color: var(--white);
    color: var(--main);
    border-color: var(--white);
    position: relative;
}


#light:hover {
    filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
  }

ol{ /* Kommt im premake vor */
    list-style: display;
    list-style-position: outside;
    counter-reset: item;
}

ol li { 
    display: block; 
}
ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul{
    margin-bottom: 1rem;
}

i{
    margin-right: 0.25rem;
}

p{
    max-width: 65ch; /* begrenzt die Laufweite vom Text, sieht aber kacke aus */
}

#metatext{
    display: none;
}

@media only screen and (max-width: 550px){
    .grid{
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    header{
        padding-left: 1rem; /*hier rumspielen*/
        padding-right: 1rem;
    }

    .header-content{
        flex-direction: column;
    }


    .headerbottom a{
        display: block;
        width: 100%;
        margin-right: 0rem;
    }

    .headerbottom a:first-of-type{
        margin-right: 1rem;
    }

    footer{
        padding-left: 1rem; /*hier rumspielen*/
        padding-right: 1rem;
    }

    #bhs{ /* Verbirgt bunnyhop auf mobile */
        display: none;
    }
}