/*
1.) In der "grid-template-areas" des Projekts: den Aufbau der Reihen bestimmen (mobile nicht vergessen)
2.) Jede dieser Area in HTML als id benennen
3.) Hier den ids die grid area zuteilen (auf richtige # und grid-area-namen achten
4.) Richtige Ids für Farbe, grid geben
5.) Links ändern

Für jede neue Seite ein neues angepassten area aufbau
Angepasste Farbschema
*/
.grid{
    margin-bottom: 4rem;
}

.worning{
    grid-template-areas:
        "hl1 hl1 hl1"
        "tn tn specs"
        "sect1 sect1 ."
        "sect2 sect2 ."
        "sect3 sect3 ."
        "hl2 hl2 hl2"
        "sect4 sect4 ."
        "sect5 sect5 ."
        "pic1 pic1 pic1"
        "sect6 sect6 ."
        "pic2 pic2 pic2"
        "sect7 sect7 ."
        "pic3 pic4 pic5"
        "sect8 sect8 ."
        "hl3 hl3 hl3"
        "sect9 sect9 ."
        "pic6 pic6 pic7"
        "sect10 sect10 ."
        "pic8 pic9 pic10"
        "sect11 sect11 ."
        "pic11 pic11 ."
        "sect12 sect12 ."
        "pic12 pic12 ."
        "sect13 sect13 ."
        "hl4 hl4 hl4"
        "sect14 sect14 ."
        "pic13 pic14 pic15"
        "sect15 sect15 ."
        "pic16 pic16 ."
        "sect16 sect16 ."
        "pic17 pic17 pic17"
        "sect17 sect17 ."
        "pic18 pic18 pic18"
        "sect18 sect18 ."
        "pic19 pic20 pic21"
        "sect19 sect19 ."
        "pic22 pic22 pic22"
        "sect20 sect20 ."
        "pic23 pic24 pic25"
        "hl5 hl5 hl5"
        "sect21 sect22 ."
        "sect23 sect23 .";
}

.sap{
    grid-template-areas:
        "hl1 hl1 hl1"
        "tn tn specs"
        "sect1 sect1 ."
        "hl2 hl2 hl2"
        "tn2 tn2 specs2"
        "sect2 sect2 ."
        "hl3 hl3 hl3"
        "tn3 tn3 specs3"
        "sect3 sect3 ."
        "hl4 hl4 hl4"
        "tn4 tn4 specs4"
        "sect4 sect4 ."
        "sect5 sect5 .";
}

.vlc{
    grid-template-areas:
        "hl1 hl1 hl1"
        "tn tn specs"
        "sect1 sect1 ."
        "hl2 hl2 hl2"
        "tn2 tn2 specs2"
        "sect2 sect2 ."
        "pic1 pic2 pic3"
        "pic4 pic5 pic6"
        "hl3 hl3 hl3"
        "tn3 tn3 specs3"
        "sect3 sect3 ."
        "pic7 pic8 pic9"
        "hl4 hl4 hl4"
        "tn4 tn4 specs4"
        "sect4 sect4 ."
        "pic10 pic10 ."
        "hl5 hl5 hl5"
        "list1 list2 list3"
        "sect5 sect5 .";
}

.kcw{
    grid-template-areas:
        "hl1 hl1 hl1"
        "tn tn specs"
        "sect1 sect1 ."
        "sect2 sect2 ."
        "sect3 sect3 ."
        "hl2 hl2 hl2"
        "sect4 sect4 ."
        "sect5 sect5 ."
        "pic1 pic2 pic3"
        "sect6 sect6 ."
        "pic4 pic4 pic5"
        "sect7 sect7 ."
        "pic6 pic6 pic6"
        "sect8 sect8 ."
        "pic7 pic7 pic8"
        "sect9 sect9 ."
        "pic9 pic9 ."
        "pic10 pic10 ."
        "pic11 pic11 ."
        "sect10 sect10 ."
        "pic12 pic13 ."
        "sect11 sect11 ."
        "pic14 pic14 ."
        "hl3 hl3 hl3"
        "vid1 vid1 vid1"
        "sect12 sect12 .";
}

.pone{
    grid-template-areas:
        "hl1 hl1 hl1"
        "tn tn specs"
        "sect1 sect1 ."
        "hl2 hl2 hl2"
        "tn2 tn2 specs2"
        "sect2 sect2 ."
        "pic1 pic2 pic3"
        "hl3 hl3 hl3"
        "tn3 tn3 specs3"
        "sect3 sect3 ."
        "pic4 pic5 pic6"
        "pic7 pic8 pic9"
        "hl4 hl4 hl4"
        "tn4 tn4 specs4"
        "sect4 sect4 ."
        "pic10 pic11 pic12"
        "hl5 hl5 hl5"
        "list1 list2 list3"
        "sect5 sect5 .";
}

.premake{
    grid-template-areas:
        "hl1 hl1 hl1"
        "tn tn specs"
        "sect1 sect1 ."
        "hl2 hl2 hl2"
        "sect2 sect2 ."
        "sect3 sect3 ."
        "sect4 sect4 ."
        "pic1 pic1 ."
        "sect5 sect5 ."
        "pic2 pic3 pic3"
        "pic4 pic5 pic5"
        "sect6 sect6 ."
        "sect7 sect7 ."
        "hl3 hl3 hl3"
        "sect8 sect8 ."
        "sect9 sect9 .";
}

.mf{
    grid-template-areas:
        "hl1 hl1 hl1"
        "tn tn specs"
        "sect1 sect1 ."
        "hl2 hl2 hl2"
        "vid1 vid1 vid1"
        "hl3 hl3 hl3"
        "vid2 vid2 vid2"
        "hl4 hl4 hl4"
        "vid3 vid3 vid3"
        "sect2 sect2 .";
}

.bms{
    grid-template-areas:
        "hl1 hl1 hl1"
        "tn tn specs"
        "sect1 sect1 ."
        "sect2 sect2 ."
        "hl2 hl2 hl2"
        "sect3 sect3 ."
        "pic1 pic2 pic3"
        "sect4 sect4 ."
        "pic4 pic4 ."
        "sect5 sect5 ."
        "pic5 pic5 ."
        "sect6 sect6 ."
        "pic6 pic6 ."
        "sect7 sect7 ."
        "pic7 pic7 pic7"
        "sect8 sect8 ."
        "hl3 hl3 hl3"
        "vid1 vid1 vid1"
        "sect9 sect9 .";
}

.ff{
    grid-template-areas:
        "hl1 hl1 hl1"
        "tn tn specs"
        "sect1 sect1 ."
        "pic1 pic1 pic1"
        "hl2 hl2 hl2"
        "tn2 tn2 specs2"
        "sect2 sect2 ."
        "pic2 pic2 ."
}

.insights{
    grid-template-areas:
        "hl1 hl1 hl1"
        "tn tn specs"
        "sect1 sect1 ."
        "pic1 pic1 pic1"
        "pic2 pic2 pic2"
        "pic3 pic4 pic5"
        "pic6 pic6 pic6"
        "pic7 pic7 pic7"
        "pic8 pic8 pic8"
}

.k28{
    grid-template-areas:
        "hl1 hl1 hl1"
        "tn tn specs"
        "sect1 sect1 ."
        "pic1 pic1 pic1"
        "pic2 pic2 pic2"
        "pic3 pic4 pic5"
        "pic6 pic6 pic6"
        "pic7 pic7 pic7"
        "pic8 pic8 pic8"
}


#hl1{
    grid-area: hl1;
}
#hl2{
    grid-area: hl2;
}
#hl3{
    grid-area: hl3;
}
#hl4{
    grid-area: hl4;
}
#hl5{
    grid-area: hl5;
}
#hl1, #hl2, #hl3, #hl4, #hl5 {
    margin-top: 2rem;
}

#tn{ /*thumbnail*/
    grid-area: tn;
}

#tn2{
    grid-area: tn2;
}

#tn3{
    grid-area: tn3;
}

#tn4{
    grid-area: tn4;
}

#list1{
    grid-area: list1;
}

#list2{
    grid-area: list2;
}

#list3{
    grid-area: list3;
}

#specs{
    grid-area: specs;
}

#specs2{
    grid-area: specs2;
}

#specs3{
    grid-area: specs3;
}

#specs4{
    grid-area: specs4;
}

#vid1{
    grid-area: vid1;
}
#vid2{
    grid-area: vid2;
}
#vid3{
    grid-area: vid3;
}

.video{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    margin-bottom: 2rem;
}

.video iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sect1{
    grid-area: sect1;
}
#sect2{
    grid-area: sect2;
}
#sect3{
    grid-area: sect3;
}
#sect4{
    grid-area: sect4;
}
#sect5{
    grid-area: sect5;
}
#sect6{
    grid-area: sect6;
}
#sect7{
    grid-area: sect7;
}
#sect8{
    grid-area: sect8;
}
#sect9{
    grid-area: sect9;
}
#sect10{
    grid-area: sect10;
}
#sect11{
    grid-area: sect11;
}
#sect12{
    grid-area: sect12;
}
#sect13{
    grid-area: sect13;
}
#sect14{
    grid-area: sect14;
}
#sect15{
    grid-area: sect15;
}
#sect16{
    grid-area: sect16;
}
#sect17{
    grid-area: sect17;
}
#sect18{
    grid-area: sect18;
}
#sect19{
    grid-area: sect19;
}
#sect20{
    grid-area: sect20;
}
#sect21{
    grid-area: sect21;
}
#sect22{
    grid-area: sect22;
}
#sect23{
    grid-area: sect23;
}

#pic1{
    grid-area: pic1;
}
#pic2{
    grid-area: pic2;
}
#pic3{
    grid-area: pic3;
}
#pic4{
    grid-area: pic4;
}
#pic5{
    grid-area: pic5;
}
#pic6{
    grid-area: pic6;
}
#pic7{
    grid-area: pic7;
}
#pic8{
    grid-area: pic8;
}
#pic9{
    grid-area: pic9;
}
#pic10{
    grid-area: pic10;
}
#pic11{
    grid-area: pic11;
}
#pic12{
    grid-area: pic12;
}
#pic13{
    grid-area: pic13;
}
#pic14{
    grid-area: pic14;
}
#pic15{
    grid-area: pic15;
}
#pic16{
    grid-area: pic16;
}
#pic17{
    grid-area: pic17;
}
#pic18{
    grid-area: pic18;
}
#pic19{
    grid-area: pic19;
}
#pic20{
    grid-area: pic20;
}
#pic21{
    grid-area: pic21;
}
#pic22{
    grid-area: pic22;
}
#pic23{
    grid-area: pic23;
}
#pic24{
    grid-area: pic24;
}
#pic25{
    grid-area: pic25;
}


#specs .button, #specs2 .button, #specs3 .button, #specs4 .button{
    margin-top: 2rem;
}

img{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#tn, #tn2, #tn3, #tn4, #pic1, #pic2, #pic3, #pic4, #pic5, #pic6, #pic7, #pic8, #pic9, #pic10, #pic11, #pic12, #pic13, #pic14, #pic15, #pic16, #pic17, #pic18, #pic19, #pic20, #pic21, #pic22, #pic23, #pic24, #pic25{
    margin-bottom: 2rem;
}


@media only screen and (max-width: 550px){       

    .worning{
    grid-template-areas:
        "hl1 hl1"
        "tn tn"
        "specs specs"
        "sect1 sect1"
        "sect2 sect2"
        "sect3 sect3"
        "hl2 hl2"
        "sect4 sect4"
        "sect5 sect5"
        "pic1 pic1"
        "sect6 sect6"
        "pic2 pic2"
        "sect7 sect7"
        "pic3 pic3"
        "pic4 pic4"
        "pic5 pic5"
        "sect8 sect8"
        "hl3 hl3"
        "sect9 sect9"
        "pic6 pic6"
        "pic7 pic7"
        "sect10 sect10"
        "pic8 pic8"
        "pic9 pic9"
        "pic10 pic10"
        "sect11 sect11"
        "pic11 pic11"
        "sect12 sect12"
        "pic12 pic12"
        "sect13 sect13"
        "hl4 hl4"
        "sect14 sect14"
        "pic13 pic13"
        "pic14 pic14"
        "pic15 pic15"
        "sect15 sect15"
        "pic16 pic16"
        "sect16 sect16"
        "pic17 pic17"
        "sect17 sect17"
        "pic18 pic18"
        "sect18 sect18"
        "pic19 pic19"
        "pic20 pic20"
        "pic21 pic21"
        "sect19 sect19"
        "pic22 pic22"
        "sect20 sect20"
        "pic23 pic23"
        "pic24 pic24"
        "pic25 pic25"
        "hl5 hl5"
        "sect21 sect22"
        "sect23 sect23";
    }

    .sap{
        grid-template-areas:
            "hl1 hl1"
            "tn tn"
            "specs specs"
            "sect1 sect1"
            "hl2 hl2"
            "tn2 tn2"
            "specs2 specs2"
            "sect2 sect2"
            "hl3 hl3"
            "tn3 tn3"
            "specs3 specs3"
            "sect3 sect3"
            "hl4 hl4"
            "tn4 tn4"
            "specs4 specs4"
            "sect4 sect4"
            "sect5 sect5"
    }

    .vlc{
        grid-template-areas:
            "hl1 hl1"
            "tn tn"
            "specs specs"
            "sect1 sect1"
            "hl2 hl2"
            "tn2 tn2"
            "specs2 specs2"
            "sect2 sect2"
            "pic1 pic1"
            "pic2 pic2"
            "pic3 pic3"
            "pic4 pic4"
            "pic5 pic5"
            "pic6 pic6"
            "hl3 hl3"
            "tn3 tn3"
            "specs3 specs3"
            "sect3 sect3"
            "pic7 pic7"
            "pic8 pic8"
            "pic9 pic9"
            "hl4 hl4"
            "tn4 tn4"
            "specs4 specs4"
            "sect4 sect4"
            "pic10 pic10"
            "hl5 hl5"
            "list1 list2"
            "list3 list3"
            "sect5 sect5";
    }
   
    .kcw{
        grid-template-areas:
            "hl1 hl1"
            "tn tn"
            "specs specs"
            "sect1 sect1"
            "sect2 sect2"
            "sect3 sect3"
            "hl2 hl2"
            "sect4 sect4"
            "sect5 sect5"
            "pic1 pic1"
            "pic2 pic2"
            "pic3 pic3"
            "sect6 sect6"
            "pic4 pic4"
            "pic5 pic5"
            "sect7 sect7"
            "pic6 pic6"
            "sect8 sect8"
            "pic7 pic7"
            "pic8 pic8"
            "sect9 sect9"
            "pic9 pic9"
            "pic10 pic10"
            "pic11 pic11"
            "sect10 sect10"
            "pic12 pic12"
            "pic13 pic13"
            "sect11 sect11"
            "pic14 pic14"
            "hl3 hl3"
            "vid1 vid1"
            "sect12 sect12";
    }
    
    .pone{
        grid-template-areas:
            "hl1 hl1"
            "tn tn"
            "specs specs"
            "sect1 sect1"
            "hl2 hl2"
            "tn2 tn2"
            "specs2 specs2"
            "sect2 sect2"
            "pic1 pic1"
            "pic2 pic2"
            "pic3 pic3"
            "hl3 hl3"
            "tn3 tn3"
            "specs3 specs3"
            "sect3 sect3"
            "pic4 pic4"
            "pic5 pic5"
            "pic6 pic6"
            "pic7 pic7"
            "pic8 pic8"
            "pic9 pic9"
            "hl4 hl4"
            "tn4 tn4"
            "specs4 specs4"
            "sect4 sect4"
            "pic10 pic10"
            "pic11 pic11"
            "pic12 pic12"
            "hl5 hl5"
            "list1 list2"
            "list3 list3"
            "sect5 sect5";
    }

    .premake{
        grid-template-areas:
            "hl1 hl1"
            "tn tn"
            "specs specs"
            "sect1 sect1"
            "hl2 hl2"
            "sect2 sect2"
            "sect3 sect3"
            "sect4 sect4"
            "pic1 pic1"
            "sect5 sect5"
            "pic2 pic2"
            "pic3 pic3"
            "pic4 pic4"
            "pic5 pic5"
            "sect6 sect6"
            "sect7 sect7"
            "hl3 hl3"
            "sect8 sect8"
            "sect9 sect9";
    }
    
    .mf{
        grid-template-areas:
            "hl1 hl1"
            "tn tn"
            "specs specs"
            "sect1 sect1"
            "hl2 hl2"
            "vid1 vid1"
            "hl3 hl3"
            "vid2 vid2"
            "hl4 hl4"
            "vid3 vid3"
            "sect2 sect2";
    }
    
    .bms{
        grid-template-areas:
            "hl1 hl1"
            "tn tn"
            "specs specs"
            "sect1 sect1"
            "sect2 sect2"
            "hl2 hl2"
            "sect3 sect3"
            "pic1 pic1"
            "pic2 pic2"
            "pic3 pic3"
            "sect4 sect4"
            "pic4 pic4"
            "sect5 sect5"
            "pic5 pic5"
            "sect6 sect6"
            "pic6 pic6"
            "sect7 sect7"
            "pic7 pic7"
            "sect8 sect8"
            "hl3 hl3"
            "vid1 vid1"
            "sect9 sect9";
    }

    .ff{
        grid-template-areas:
            "hl1 hl1"
            "tn tn"
            "specs specs"
            "sect1 sect1"
            "pic1 pic1"
            "hl2 hl2"
            "tn2 tn2"
            "specs2 specs2"
            "sect2 sect2"
            "pic2 pic2"
    }

    .insights{
        grid-template-areas:
        "hl1 hl1"
        "tn tn"
        "specs specs"
        "sect1 sect1"
        "pic1 pic1"
        "pic2 pic2"
        "pic3 pic3"
        "pic4 pic4"
        "pic5 pic5"
        "pic6 pic6"
        "pic7 pic7"
        "pic8 pic8"
    }

    .k28{
        grid-template-areas:
            "hl1 hl1"
            "tn tn"
            "specs specs"
            "sect1 sect1"
            "pic1 pic1"
            "pic2 pic2"
            "pic3 pic3"
            "pic4 pic4"
            "pic5 pic5"
            "pic6 pic6"
            "pic7 pic7"
            "pic8 pic8"
    }

    .button:not(.premake .button, .kcw .button, .pone .button, .sap .button, .worning .button){ /*aktiviert mobile button*/
        display: none;
    }

    #specs .button, #specs2 .button, #specs3 .button{
        margin-top: 0rem;
        margin-bottom: 1rem;
    }
}